body {
    text-align: center;
    padding-top: 800px;
}

#S1 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(#008080 0%, #4169E1 100%);
    display: table;
    height: 800px;
    height: 100%;
    width: 100%;
}

#d {
    vertical-align: middle;
    position: relative;
    display: table-cell;
    text-align: center;

}

#img {
    border-radius: 50%;
    width: 175px;
}

.menu {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    margin-top: 0;
    background-color: white;
}

.links {
    display: inline;
    padding-top: 5px;
    padding-bottom: 5PX;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}
